/*selector universal*/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
/*Selector por etiqueta*/
header{

        background-color: darkslategrey;
        text-align: center;
        color: ghostwhite;
        padding: 0px;
}
footer{
        background-color: darkslategrey;
        text-align: center;
        color: ghostwhite;
        line-height: 70px;
        bottom: 0px;
        position: fixed;
        width: 100%;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #7d0a42;
}
footer a{
    color: ghostwhite;
}
/*Selector por id*/
#contenido{
    border: 2px solid darkslategrey;
    padding: 10px;    
}
#principal{
    margin-left: 20%;
}
#descripcion{
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;
        margin: 15px;

}
#menu{
    background-color: #eee;

}
#menu ul li{
    display: block; 
    float: left;
    border-right: 1px solid #ccc;

}
#menu ul li a{
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover{
    background: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}
#contenido table{
    margin: auto;
}
#contenido h2{
    text-align: center;
    color: darkslategrey;
    margin: 10px;
}

#contenido form{
    border: 3px solid darkslategrey;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#contenido form *{
    display: inline-block;    
}

input [type="text"], select{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

input[type="submit"], button{
    background: deepskyblue;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}
#contenido1 table{
    margin: 50px;
}
#contenido1 h2{
    text-align:center;
    color: darkslategrey;
    margin: 50px;
}

#contenido1 form{
    border: 3px solid darkslategrey;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px
}

#contenido1 form *{
    display:block            
}
/*selector por clase*/
.clearfix{
    float: none;
    clear: both;
}